.torque-burger-menu.burger-menu-squeeze {
  position: relative;
  width: 23px;
  height: 16px;

  .torque-burger-menu-line {
    position: absolute;
    top: 7px;
    width: 23px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    transition: all 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: unset;
      bottom: 0;
      margin-bottom: 0px;
    }
  }

  &.active {

    .torque-burger-menu-line {
      transform: rotate(45deg);

      &:first-child {
        top: 0;
        opacity: 0;
      }

      &:last-child {
        top: 7px;
        transform: rotate(-45deg);
      }
    }
  }
}
