@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$Avenir: 'Nunito Sans', sans-serif;
$AvenirRoman: 'Nunito Sans', sans-serif;
$ArzetiScript: 'Dancing Script', cursive;
