@import "fonts";
@import "../partials/variables";

body {
  font-family: Avenir-Roman;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $marine;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {
  cursor: pointer;
  text-decoration: none;
}
