/secrets/
/wp-content/
**/node_modules
**/node_modules/**
yarn-error.log
yarn.lock


# ignore all child themes, leave torque parent theme
themes/*
!themes/torque
themes/torque/node_modules/

# mac files
.DS_Store
**/*/.DS_Store
