/secrets/
/wp-content/
/uploads/
/wp-content/uploads/
**/node_modules
**/node_modules/**
yarn-error.log


# ignore all child themes, leave torque parent theme
themes/*
!themes/torque
themes/torque/node_modules/
