button {
  border: 1px solid $clay-brown;
  padding: 0 60px;
  height: 45px;
  line-height: 44px;
  background-color: transparent;
  color: $clay-brown;
  text-transform: uppercase;
  outline: none !important;

  &:hover {
    border: none;
    background-color: $clay-brown;
    color: $white;
  }

  &.marine {
    border-color: $marine;

    &:hover {
      background-color: $marine;
    }
  }

  &.nice-blue {
    border-color: $nice-blue;

    &:hover {
      background-color: $nice-blue;
    }
  }

  &.barney-purple {
    border-color: $barney-purple;

    &:hover {
      background-color: $barney-purple;
    }
  }
}
