@import 'partials/variables';
@import 'partials/mixins';

@import 'typography/typography';

@import 'elements';

@import 'parts/templates/titles/title-page';
@import 'parts/shared/header';
@import 'parts/shared/footer';
@import 'parts/acf/content-section';
@import 'parts/acf/page-hero';

@import 'plugins/gallery-layout';
@import 'plugins/floor-plans';
@import 'plugins/torque-map';

main {
  padding: 67px $desktopMainPaddingSides;
  padding-top: 0px;

  @include respond-to(tablet) {
    padding: 0px $tabletMainPaddingSides 20px $tabletMainPaddingSides;
  }
}

body {
	background-position: center top;
}