.hero-wrapper {
  margin-bottom: 70px;
}

.page-hero {
  position: relative;
  margin-right: -$desktopMainPaddingSides;
  margin-left: -$desktopMainPaddingSides;
  min-height: 300px;

  @include respond-to(tablet) {
    margin-right: -$tabletMainPaddingSides;
    margin-left: -$tabletMainPaddingSides;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .page-hero-title-wrapper {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 2%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: $white;

    @include respond-to(mobile) {
      top: 5%;
      transform: none;
    }
  }

  .page-hero-mobile-helper {
    @include respond-to(mobile) {
      padding: 0px $tabletMainPaddingSides;
      box-sizing: border-box;
    }
  }

  .page-hero-content-wrapper {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    margin-top: -150px;
    padding: 60px 100px;
    width: 60%;
    text-align: center;
    box-sizing: border-box;
    background-color: $clay-brown;
    color: $white;

    @include respond-to(desktop) {
      padding: 50px 80px;
    }

    @include respond-to(tablet) {
      margin-top: -100px;
      padding: 50px 80px;
      width: 80%;
    }

    @include respond-to(mobile) {
      margin-top: -50px;
      margin-bottom: 20px;
      padding: 30px 5%;
      width: 80%;
    }
  }
}
