// colours

$barney-purple: #9f1097;
$clay-brown: #b45a37;
$marine: #093e52;
$nice-blue: #107c9f;
$white: #fff;

// layout

// note we had to do this 'widescreen first'
$widescreenBreakpoint: 1400px;
$desktopBreakpoint: 1024px;
$tabletBreakpoint: 768px;

$contentMaxWidth: 1076px;
$contentMaxWidth2: 1180px;

$desktopMainPaddingSides: 32px;
$tabletMainPaddingSides: 15px;

$desktopPaddingSides: 130px;
$tabletPaddingSides: 50px;
