footer {
  background-color: $marine;

  .footer-content-wrapper {
    padding: 75px $desktopPaddingSides 60px $desktopPaddingSides;
    max-width: $contentMaxWidth2;

    .torque-footer-col {
      padding-right: 25px;
      color: $white;

      p {
        margin: 0;
      }

      h4 {
        text-transform: uppercase;
      }
    }
  }
}
