$logoWidth: 177px;
$logoMarginRight: 50px;

nav {
  margin: 0 auto;
  padding: 70px $desktopPaddingSides 45px $desktopPaddingSides;
  max-width: $contentMaxWidth2;

  @include respond-to(tablet) {
    padding: 20px $tabletPaddingSides;
  }

  @include respond-to(mobile) {
    padding: 0;

    & .relative-container {
      padding: $mobilePaddingSides;
      position: relative;
      z-index:99999;

      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    & .site-logo {
      position: relative;
      z-index:1;
      float:left;
      width: 60px;
    }

    & .mobile-nav-toggle {
      float: right;
      display: block;
      width: 30px;
      padding: 5px 0;
      position: relative;
      z-index: 2;
      margin-top: 20px;

      & span {
        width: 100%;
        box-sizing: border-box;
        height: 3px;
        background: $clay-brown;
        margin-bottom: 4px;
        display: block;
      }
    }

    & .navigation {
      position: absolute;
      top: -100px;
      left: 0;
      z-index:0;
      width: 100%;
      padding-top: 100px;
      background: #fff;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      padding-bottom: 20px;
      border-bottom: 3px solid $clay-brown;

      &.active {
        top: 0;
        opacity: 1;
        visibility: visible;
      }

      & .torque-menu-items-inline {
        // width: 100%;
      }

      & .torque-menu-item-wrapper {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .relative-container {
    position: relative;

    img {
      margin-right: $logoMarginRight;
      width: $logoWidth;
      height: 135px;

      @include respond-to(tablet) {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 100px;
        object-fit: contain;
      }

      @include respond-to(mobile) {
        height: 70px;
      }
    }

    .torque-menu-items-inline {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding-left: $logoWidth + $logoMarginRight;
      width: 100%;
      box-sizing: border-box;
      text-align: center;

      @include respond-to(tablet) {
        position: relative;
        transform: none;
        padding-left: 0;
      }

      .torque-menu-item-wrapper {
        margin: 5px 12px;

        @include respond-to(desktop) {
          margin: 4px 7px;
        }

        @include respond-to(mobile) {
          margin: 3px 3px;
        }

        a {
          color: $marine;
          text-transform: uppercase;
        }
      }
    }
  }
}
